<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <meta charset="UTF-8">
    <title>Start(it)</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images/Start(IT)SmallLogo.png">

</head>

<body>
 <!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><img src="../images/Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/Git.html">GIT</a></li>
                            <li><a href="../views/VSCode.html">VSCode</a></li>
                            <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                            <li class="active"><a href="../views/HtmlTags.html">HTML tags</a></li>
                            <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                            <li><a href="../views/views/Bootstrap.html"></a>Bootstrap</li>
                        </ul>
                    </li>
                    <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                    <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                    <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija (slengošana)</a></li>
                    <li><a href="../views/CssSelektori.html">Css selektori</a></li>
                  
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap" class= "margin -top" >
        <div id="main">
            <h1 class="text-center">HTML elementi</h1>
            <div class="row">
            <div class="col-xs-2">  </div>
            <div class="col-xs-2">
            <p>Hiperteksta iezīmēšanas valoda jeb HTML (no angļu: HyperText Markup Language) ir <a href="https://lv.wikipedia.org/wiki/Iezīmēšanas_valoda">iezīmēšanas valoda</a>, kas ir izstrādāta tīmekļa lappušu un citas pārlūkprogrammā attēlojamas informācijas glabāšanai. Sākotnēji definēta kā vienkārša SGML implementācija, HTML šobrīd ir starptautisks standarts (ISO/IEC 15445:2000). HTML specifikāciju pamatā uztur Vispasaules Tīmekļa Konsorcijs (W3C). </p>
            </div>
        
            <p>Pēdējā HTML versija ir<br> HTML5. </p>
            <div class="col-xs-3"> <p>Esam apskatījīs vairākus elementus:<br></p>
                <ul>
                    <li>Konteiners</li>
                    <li>virsraksts </li>
                </ul></div><div>
                <ol>
                    <li>Nenumurēts saraksts</li>
                    <li >numurēts</li>
                    <li>attēls "<img>"</li>
                    <img src="../images/Start(IT)SmallLogo.png" width="104">
                </ol></div></div>
                <h1 class="text-center">Start(IT) apmācību plāns 1.dienai</h1><br>
                <p>Parādīsim tabulā informāciju par to, kāds ir bijis šodienas grafiks.</p>
                <p>Veidosim tabulu, lai iepazītos ar to, kā mēs to varam izveidot tabulu.</p>
                <br>
                <p>Galvenie punkti kas tiek šodien apskatīti:</p>
                 <ul>
                    <li class="list-group-item list-group-item-action list-group-item-success">Projekta izstrādes tehnoloģijas</li>
                    <li class="list-group-item list-group-item-action list-group-item-info">GIT</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">VSCode</li>
                 </ul>
                 <div class="container">
                     <div class ="col-xs-1 col-sm-2 col-md-3"></div>
                    <table class="table-striped table" >
                            <tr>
                              <th>  </th>
                              <th>Plānotais laiks</th> 
                              <th>Reālais laiks</th>
                              <th>Laiks palika pāri vai trūka</th>
                            </tr>
                            <tr>
                              <td><b>Projekta izstrādes metodoloģijas</b></td>
                              <td>27.08.2019 8:30am - 9.30am</td> 
                              <td>27.08.2019</td>
                              <td>Trūka/Palika pāri</td>
                            </tr>
                            <tr>
                              <td><b>GIT</b></td>
                              <td>27.augustrs</td> 
                              <td>27.augusts</td>
                              <td>blam blam</td>
                            </tr>
                          </table> 
                        </div>  
                          <p><h1 class="text-center">ATSAUKSME</h1></p>
                          

<form>
  <p><b>Vārds:</b></p>
  <input type="text" name="Jūsu vārds" value=""><br>
  <p><b>Uzvārds:</b></p>
  <input type="text" name="Jūsu uzvārds" value="">
<p>Piedalījāties visu dienu?</p>
<form action="">
        <input type="radio" name="gender" value="yes"> Jā
        <input type="radio" name="gender" value="no"> Nē<br>
</form>

  <br><br>
  <input type="submit" value="Iesniegt">
</form> 
                </ul>
            </div>
        </div>
    </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pilssss</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>  